/*Search Bar and container*/
.SearchBarContainer {
    height: 75px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: grey;
}

.children-along-bot{
    display: flex;
    flex-direction: column-reverse;
}

.title-header{
    font-family: "Times New Roman", Times, serif;
    bottom: 2px;
}
.test-sizing{
    height: 5000px;
}

/* AlcoholItem */
.booze-thumbnail{
    width:50px;
    height:50px;
}

.alcohol-text{
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 0.5rem;
}

.item:hover{
    transition: background-color 0.25s ease;
    background-color: #D9FEEC;
}